.header {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 1fr;
}

.tic {
  border-right: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  padding-left: 16px;
}

.mobile-navbar-button {
  width: 60px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.mobile-navbar-button:hover {
  cursor: pointer;
}

.drop-down {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 90vw;
  position: absolute;
  top: 60px;
  right: 10%;
  z-index: 999;
  background-color: darkgray;
  border: 1px solid white;
}

.nav-link {
  margin-left: 30px;
  width: 100%;
  padding: 5px 0;
}

.inline-nav {
  width: 50%;
  display: none;
  justify-content: space-between;
  position: absolute;
  right: 15px;
  top: 34px;
}

.text-align-center {
  text-align: center;
}

/* Image Slider */
.slider-image {
  width: 100%;
}

.slider {
  overflow: hidden;
  grid-column: 1 / 3;
  margin-top: 25px;
}

  img {
    max-width: 400px;
    float: left;
  }

  figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
 }

 .HomepageText p {
   margin: 0 auto;
   padding: 25px 35px;
   font-size: 14px;
   font-family: sans-serif;
 }

.footer {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 15px;
}

a {
  color: white;
}

.gallery-options {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 900px;
  margin: 0 auto;
}

.gallery-thumbs {
  display: flex;
  flex-direction: column;
}
.gallery-thumbs:first-of-type {
  margin-top: 15px;
}
.gallery-thumbs img:hover {
  cursor: pointer;
}
.gallery-thumbs p:hover {
  cursor: pointer;
}

.gallery-thumbs img {
  width: 80%;
  margin: 0 auto;
}

.gallery-thumbs p {
  text-align: center;
  font-size: 14px;
}

.gallery-photo {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 80%;
}

.gallery-photo img {
  width: 100%;
  margin: 10px auto;
  max-width: 500px;
}

img.portrait-format {
  width: 80%;
  margin: 5px auto;
}

.websites {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 10px;
  padding-left: 0;
}

.website {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
  background-color: snow;
  color: black;
  padding: 15px;
}

.website p:first-of-type {
  text-align: center;
}

.website p:last-of-type {
  margin: 0 auto;
}

.website img {
  display: inline-block;
  margin: 0 auto;
}

.website a {
  text-align: center;
  margin-top: 10px;
  color: black;
}

.homePage {
  width: 60%;
  margin: 0 auto;
}

.fader {
  width: 100%;
  max-width: 500px;
  margin: 10px auto 25px auto;
}
.fader .each-fade img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.people {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.people img {
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
}


@keyframes fader {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}

@keyframes slidy {
  0% { left: 0%; }
  10% { left: 0%; }
  20% { left: -100%; }
  30% { left: -100%; }
  40% { left: -200%; }
  50% { left: -200%; }
  60% { left: -300%; }
  75% { left: -300%; }
  80% { left: -400%; }
  100% { left: -400%; }
}

@media screen and (min-width: 660px) {
  .gallery-options {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-thumbs:nth-of-type(2) {
    margin-top: 15px;
  }
  .inline-nav {
    display: flex;
  }
  .mobile-navbar-button {
    display: none;
  }
  .gallery-photo {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 790px) {
  .websites {
    grid-template-columns: 1fr 1fr;
  }
}
